body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  display: flex;
}

*{
  box-sizing: border-box;
}

/*Navigation Drawer*/
.navbar {
  background-color: #2D3E49;
  width:230px;
  display: flex;
  flex-direction: column;
}

.navbar:after {
  content: "";
  clear: both;
  display: table;
}

/*For all three sections of drawer*/
.nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #253038;
  padding-bottom: 20px;
}

/*For all lists in nav*/
.nav-list {
  list-style: none;
  color: #c4c4c4;
  margin:0;
  padding:0;
}

.nav-list li {
  padding: 12px 0 12px 30px;
  transition: background 0.5s,
              color 0.5s,
              border-left 0.5s;
}

.nav-list li:hover {
  background: #455866;
  border-left:3px solid #378dcc;
  color: #fff;
}

/*for all figs*/
figure {
  margin: 0;
}

figcaption {
  display: inline-block;
  margin-left: 10px;
  font-size: .8em;
}

/*for all nav section titls*/
.nav-section-title {
  margin: 35px 0 10px 30px;
  color: #666;
}

.user-nav {
  display: flex;
  flex-direction: column;
}

.profile-pic{
  border-radius:50%;
  background-image: url("images/deniro.jpg");
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: 25px auto;
}

.profile-name {
  margin: 0 auto 10px auto;
  color: #c4c4c4;
  font-size: .8em;
  display: inline;
}

.fa-caret-down {
  margin-left: 7px;
}

.category-nav {
  border-bottom: none;
}

.c-box {
  border-radius: 15%;
  height: .8em;
}
#c1 {
  color: yellow;
  height: .7em;
}

#c2 {
  color: #51a1e2; 
  background: #51a1e2;
}

#c3 {
  color: #eb592a; 
  background: #eb592a;
}

#c4 {
  color: #5cdb64; 
  background: #5cdb64;
}

main {
 flex:4.5;
}

/*Search bar at top*/
.search-page {
  border: 1px solid #c4c4c4;
}

.fa-bars {
  margin: 0px 15px 0px 15px;
}

.search-page {
 display: flex;
 align-items: center;
 height: 60px;
}

#hamburger-div {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #c4c4c4;
  border-right:1px solid #c4c4c4;
  transition: background 0.5s,
              color 0.5s;  
}

#hamburger-div:hover {
  background: #51adef;
  color: #fff;  
}

#search-bar {
  flex:1;
  border: none;
  width: 270px;
  padding-left: 5px;
  font-family: "FontAwesome", sans-serif;
}

input::-webkit-input-placeholder {
  color:#c4c4c4;
  font-size: .8em;
}

#sq-wrapper {
  margin-left: auto;
  height: 100%;
  display: flex;
}

.nav-sq {
  margin:0;
  border-left:1px solid #c4c4c4;
  display: flex;
  align-items: center;
  padding:0 22px;
  color:#c4c4c4;
  transition: background 0.5s,
              color 0.5s;
}

.nav-sq:hover {
  background: #51adef;
  color: #fff;
  cursor: pointer;
}

/*Persons Public Title*/
.job-info {
  margin: 45px;
}

.job-title {
  color:#666;
  margin-bottom: 0;
}
.location-list {
  display: flex;
  justify-content: space-between;
}

.location {
  align-self: center;
  color: #666;
  margin:0;
}

.location a {
  text-decoration: none;
  color: #63bbf9;
}

.rando-icons {
  color: #666;
  margin:0;
}

#open-status {
  border: 3px solid #c4c4c4;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 22px;
  padding: 8px 15px 6px 12px;
  margin: 0;
}

.fa-circle {
  color:#26d80a;
  margin: 6px;
}

.rando-icons li {
  display:inline;
  margin: 0 4px;
  color: #c4c4c4;
  font-size: .7em;
}

.fa-bookmark:before,
.fa-pencil:before,
.fa-trash {
    color:#666;
}

/*GRAPH LIST*/

#graph-list {
  margin:0;
  padding-left:50px;
  display: flex;
  flex-wrap: wrap;
}

.graph-li {
  display: inline;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-size: .6em;
  color: #c4c4c4;
  padding-bottom:15px;
  margin-right: 45px;
  transition: color 0.5s,
              border-bottom 0.5s;

}

.graph-li:hover, .target {
  border-bottom: 3px solid #378dcc;
  color: #666;
}

/*GRAPH ZONE*/

#details {
  background: #edf2f6;
  padding: 50px;
}

#graph-display{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.circle-graphs {
  flex:1;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}

.circle-a {
  border: 12px solid #60BFA4;
  border-right-color: #c4c4c4;
}


.circle-b {
  border: 12px solid #3D97E9;
  border-left-color:#c4c4c4;
  border-top-color:#c4c4c4;
  margin: 0 1px;

}

.circle-c {
  border: 12px solid #c16be5;
  border-left-color:#c4c4c4;
}

.circ-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:150px;
  height: 150px;
  border-radius: 50%;
}

.nums {
  margin: 5px 0;
  font-size: 1.5em;
  font-family: 'Saira', sans-serif;
  color:#444;
}

.num-stats {
  margin:0;
  font-size: .6em;
  color:#444;
  font-weight: bold;

}


.bar-graph {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

img {
  width:50%;
  min-width: 250px;
  min-height: auto;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.total-btns {
  font-size: .6em;
  font-weight: 900;
  color:#666;
  padding: 7px;
  border-radius:25px;
  width:16%;
}

.total-btns-alt {
  display:none;
}

/*Toggle Graph button border*/

h2 {
  overflow: hidden;
  text-align: center;
}

h2:before,
h2:after {
  background-color:#c4c4c4;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.fa-chevron-circle-up {
  color: #c4c4c4;
  transition: color 0.5s;
}

.fa-chevron-circle-up:hover {
  color: #666;
}

/*JOB DESCRIPTION*/
#job-description {
  display: flex;
  flex-direction: row;
}

.job-table {
  flex:2;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    background: #fff;
}

th {
  background: #3a505e;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-size: .5em;
  color: #c4c4c4;
  padding: 10px 0px 10px 10px;
  text-align: left;
  border:10px solid #3a505e;
}

.edit-btn {
  background: #567689;
  color: #c4c4c4;
  border:none;
}

.edit-btn i{
  color: #c4c4c4;
}

.edit-btn-fig {
  margin:5px;
}

#pencil:before {
  color: #c4c4c4;
  margin-right: auto;
}

tr {
  border-bottom:1px solid #c4c4c4;
}

td {
  padding:24px 0;
  vertical-align: middle;
}

.col-1 {
  width:125px;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-size: 0.5em;
  color: #666;
  border-left: 10px solid #fff;
}

.col-2 {
  font-size: .8em;
  color: #666;
  border-right: 10px solid #fff;
}

.description-target {
  vertical-align: top;
}

.tr-target{
  border-bottom: none;
}

.td-target {
  color:#666;
  font-weight: bold;
}



/*Social sharing and share links*/

.social {
  flex:1;
}

.social-btn-style {
  display: block;
  color:white;
  padding: 0 15px;
  border-radius:3px;
  width: 90%;
  margin:0 0 10px auto;
  height: 35px;
  font-size: .6em;
  letter-spacing: .5px;
}

.in-btn-fa {
  float:left;
}

.fb-btn {
  background:#4768AD;
}

.twitter-btn {
  background:#46A1EC;
}

.linkedIn-btn {
  background:#2C72AC;
}

/*Share Links*/

.share-manual {
    width: 90%;
    margin: 25px 0 20px auto;
    padding-bottom: 20px;
}

.job-link {
  border-bottom: 1px solid #c4c4c4;
}

.widget-link{
  border-bottom: 1px solid #c4c4c4;
}

.link-head {
  display: inline;
  margin-left: 10px;
  font-size: .9em;
  color:#666;
}

.share-fa:before {
  font-size: .8em;
  color:#666;
}

.share-info {
  font-size: .7em;
  color:#666;
  margin-bottom:20px;
}

.share-link-wrapper {
  display: flex;
  height: 35px;
  margin-bottom: 10px;
}

.share-link{
  border:none;
  height: 100%;
  width:75%;
  font-size: .7em;
  padding-left: 10px;
  color:#666;
}

.copy-btn {
  border: none;
  background: #6bc6ae;
  color:white;
  padding:0 15px;
  font-size: .6em;
  height: 100%;
  width:25%;
}

.email-resume{
  width: 100%;
  height: 35px;
}

/*media queries*/
@media (max-width: 1095px) {

  #details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #graph-list {
    margin-top: 50px;
    margin-right:75px;
    padding-left:50px;
    display: flex;
    flex-direction: column;
    float:left;
    position: absolute;
  }

  .graph-li {
    display: inline;
    padding-bottom: 22px;
    margin-right: 15px;
    border-bottom: none;
  }

  .graph-li:hover, .target {
    border-bottom: none;
    color: #666;
  }
  
  #graph-display {
    flex-direction: column-reverse;
  }

  .bar-graph {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

  .circle-graphs {
    margin-top: 50px;
    flex-wrap: wrap;
  }

  .target-wrapper {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
  }

  .buttons {
    display: none;
    justify-content: space-around;
    flex-direction: row;
  }

  .total-btns{
    width:100%;
  }

  .total-btns-alt {
    align-self: center;
    display: inline-block;
    font-size: .6em;
    font-weight: 900;
    color:#666;
    padding: 7px;
    border-radius:25px;
    width:25%;
    margin-top:35px;
  }
}

@media (max-width: 845px) {

  .location-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .location {
    margin-top: 10px;
    margin-right: auto;
  }

  .rando-icons {
    padding: 0;
    margin-top: 30px;
  }

  #job-description {
    flex-direction: column;
}
  
  .social {
    display: flex;
    flex-direction: column-reverse;
  }
  .social-btn-style {
    margin:20px auto;
    width: 100%;
  }

  .share-manual {
    margin:20px auto;
    width: 100%;
  }
}

@media (max-width: 785px) {

  .navbar {
    display:none;
    min-width:75%;
    flex:2;
  }

  #details {
    padding:50px 10px;
  }

  #graph-list {
    padding-left: 15px;
  }

  main {
    flex:1;
    position: absolute;
    z-index: -1;
  }

}