body {
  display: flex;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

/*Navigation Drawer*/
.navbar {
  display: flex;
  flex-direction: column;
  width:230px;
  background-color: #2D3E49;
}

.navbar:after {
  display: table;
  clear: both;
  content: "";
}

/*For all three sections of drawer*/
.nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #253038;
  padding-bottom: 20px;
}

/*For all lists in nav*/
.nav-list {
  margin: 0;
  padding: 0;
  color: #c4c4c4;
}

.nav-list li {
  padding: 12px 0 12px 30px;
  transition: background 0.5s,
              color 0.5s,
              border-left 0.5s;
}

.nav-list li:hover {
  border-left: 3px solid #378dcc;
  background: #455866;
  color: #fff;
}

/*for all figs*/
figure {
  margin: 0;
}

figcaption {
  display: inline-block;
  margin-left: 10px;
  font-size: .8em;
}

/*for all nav section titls*/
.nav-section-title {
  margin: 35px 0 10px 30px;
  color: #666;
}

.profile-pic {
  width: 100px;
  height: 100px;
  margin: 25px auto;
  border-radius: 50%;
  background-size: cover;
  background-image: url("images/deniro.jpg");
}

.profile-name {
  margin: 0 auto 10px auto;
  color: #c4c4c4;
  font-size: .8em;
}

.fa-caret-down {
  margin-left: 7px;
}

.category-nav {
  border-bottom: none;
}
 
.c-box {
  border-radius: 15%;
  height: .8em;
}

#c1 {
  height: .7em;
  color: yellow;
}

#c2 {
  color: #51a1e2; 
  background: #51a1e2;
}

#c3 {
  color: #eb592a; 
  background: #eb592a;
}

#c4 {
  color: #5cdb64; 
  background: #5cdb64;
}

main {
 flex: 4.5;
}

/*Search bar at top*/
.search-page {
  border: 1px solid #c4c4c4;
}

.fa-bars {
  margin: 0px 15px 0px 15px;
}

.search-page {
 display: flex;
 align-items: center;
 height: 60px;
}

#hamburger-div {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-right: 1px solid #c4c4c4;
  height: 100%;
  color: #c4c4c4;
  cursor: pointer;
  transition: background 0.5s,
              color 0.5s;  
}

#hamburger-div:hover {
  background: #51adef;
  color: #fff;  
} 

#search-bar {
  flex: 1;
  border: none;
  width: 107%;
  padding-left: 5px;
  font-family: "FontAwesome", sans-serif;
}

input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: .8em;
}

#sq-wrapper {
  display: flex;
  margin-left: auto;
  height: 100%;
}

.nav-sq {
  display: flex;
  align-items: center;
  border-left: 1px solid #c4c4c4;
  margin: 0;
  padding: 0 22px;
  color: #c4c4c4;
  background: #fff;
  transition: background 0.5s,
              color 0.5s;
}

.nav-sq:hover {
  background: #51adef;
  color: #fff;
  cursor: pointer;
}

/*Persons Public Title*/
.job-info {
  margin: 45px;
}

.job-title {
  color: #666;
  margin-bottom: 0;
}

.location-list {
  display: flex;
  justify-content: space-between;
}

.location {
  align-self: center;
  color: #666;
}

.location a {
  text-decoration: none;
  color: #63bbf9;
}

.rando-icons {
  display: flex;
  align-items: center;
  margin: 0;
}

#open-status {
  border: 3px solid #c4c4c4;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  padding: 0px 10px;
}

.fa-circle {
  margin: 6px;
  color: #26d80a;
}

.rando-icons li {
  display: inline;
  margin: 0 4px;
  color: #c4c4c4;
  font-size: .7em;
}

.fa-bookmark:before,
.fa-pencil:before,
.fa-trash {
    color:#666;
}

/*GRAPH LIST*/
#graph-list {
  display: flex;
  margin: 0;
  padding-left: 50px;
}

.graph-li {
  display: inline;
  margin-right: 45px;
  padding-bottom: 15px;
  color: #c4c4c4;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-size: .6em;
  transition: color 0.5s,
              border-bottom 0.5s;

}

.graph-li:hover, .target {
  border-bottom: 3px solid #378dcc;
  color: #666;
}

/*GRAPH ZONE*/
#details {
  background: #edf2f6;
  padding: 50px;
}

#graph-display {
  display: flex;
}

.circle-graphs {
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.circle-a {
  border: 12px solid #60BFA4;
  border-right-color: #c4c4c4;
}

.circle-b {
  border: 12px solid #3D97E9;
  border-left-color: #c4c4c4;
  border-top-color: #c4c4c4;
  margin: 0 1px;
}

.circle-c {
  border: 12px solid #c16be5;
  border-left-color: #c4c4c4;
}

.circ-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.nums {
  margin: 5px 0;
  font-size: 1.5em;
  font-family: 'Saira', sans-serif;
  color: #444;
}

.num-stats {
  margin: 0;
  font-size: .6em;
  color: #444;
  font-weight: bold;
}

.bar-graph {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

img {
  width: 50%;
  min-width: 250px;
  min-height: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.total-btns {
  border-radius: 25px;
  padding: 7px;
  width: 18%;
  font-size: .6em;
  font-weight: 900;
  color: #666;
}

.total-btns-alt {
  display: none;
}

/*Toggle Graph button border*/
h2 {
  overflow: hidden;
  text-align: center;
}

h2:before,
h2:after {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
  height: 1px;
  background-color:#c4c4c4;
  content: "";
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.fa-chevron-circle-up {
  color: #c4c4c4;
  transition: color 0.5s;
}

.fa-chevron-circle-up:hover {
  color: #666;
}

/*JOB DESCRIPTION*/
#job-description {
  display: flex;
}

.job-table {
  flex: 2;
}

table {
    display: table;
    border-collapse: collapse;
    background: #fff;
}

th {
  padding: 10px 0px 10px 10px;
  border: 10px solid #3a505e;
  text-align: left;
  color: #c4c4c4;
  font-size: .5em;
  font-family: 'Exo', sans-serif;
  background: #3a505e;
}

.edit-btn {
  border: none;
  background: #567689;
  color: #c4c4c4;
}

.edit-btn-fig {
  margin: 5px;
}

#pencil:before {
  color: #c4c4c4;
  margin-right: auto;
}

tr {
  border-bottom: 1px solid #c4c4c4;
}

td {
  padding: 24px 0;
  vertical-align: middle;
}

.col-1 {
  border-left: 10px solid #fff;
  width: 125px;
  color: #666;
  font-weight: 900;
  font-size: 0.5em;
  font-family: 'Exo', sans-serif;
}

.col-2 {
  border-right: 10px solid #fff;
  font-size: .8em;
  color: #666;
}

.lead-pic {
  display: flex;
  align-items: center;
}

.headshot {
  display: inline-block;
  background-image: url("images/bossman.jpg");
  background-size: cover;
  border-radius:50%;
  height: 50px;
  width:50px;
  margin-right: 10px;
}

.description-target {
  vertical-align: top;
}

.tr-target {
  border-bottom: none;
}

.td-target {
  color: #666;
  font-weight: bold;
}

/*Social sharing and share links*/
.social {
  flex: 1;
}

.social-btn-style {
  display: block;
  padding: 0 15px;
  border-radius: 3px;
  margin: 0 0 10px auto;
  height: 35px;
  width: 90%;
  color: #fff;
  font-size: .6em;
  letter-spacing: .5px;
}

.in-btn-fa {
  float: left;
}

.fb-btn {
  background: #4768AD;
}

.twitter-btn {
  background: #46A1EC;
}

.linkedIn-btn {
  background: #2C72AC;
}

/*Share Links*/
.share-manual {
  width: 90%;
  margin: 25px 0 20px auto;
  padding-bottom: 20px;
}

.job-link {
  border-bottom: 1px solid #c4c4c4;
}

.widget-link{
  border-bottom: 1px solid #c4c4c4;
}

.link-head {
  display: inline;
  margin-left: 10px;
  font-size: .9em;
  color: #666;
}

.share-fa:before {
  font-size: .8em;
  color: #666;
}

.share-info {
  margin-bottom: 20px;
  font-size: .7em;
  color: #666;
}

.share-link-wrapper {
  display: flex;
  height: 35px;
  margin-bottom: 10px;
}

.share-link {
  border: none;
  width: 75%;
  padding-left: 10px;
  font-size: .7em;
  color: #666;
}

.copy-btn {
  border: none;
  padding: 0 15px;
  width: 25%;
  background: #6bc6ae;
  color: #fff;
  font-size: .6em;
}

.email-resume {
  width: 100%;
  height: 35px;
}

/*media queries*/
@media (max-width: 1095px) {
  #details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #graph-list {
    display: flex;
    float: left;
    position: absolute;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 75px;
    padding-left: 50px;
  }

  .graph-li {
    display: inline;
    padding-bottom: 22px;
    margin-right: 15px;
    border-bottom: none;
  }

  .graph-li:hover, .target {
    border-bottom: none;
    color: #666;
  }
  
  #graph-display {
    flex-direction: column-reverse;
  }

  img {
    margin-left: 85px;
    min-height: 250px;
  }

  .bar-graph {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .circle-graphs {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .target-wrapper {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
  }

  .buttons {
    display: none;
    justify-content: space-around;
    flex-direction: row;
  }

  .total-btns{
    width: 100%;
  }

  .total-btns-alt {
    display: inline-block;
    align-self: center;
    padding: 7px;
    border-radius: 25px;
    margin-top: 35px;
    width: 25%;
    min-width: 115px;
    color: #666;
    font-weight: 900;
    font-size: .6em;
  }
}

@media (max-width: 845px) {
  .location-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .location {
    margin-top: 10px;
    margin-right: auto;
  }

  .rando-icons {
    padding: 0;
    margin-top: 30px;
  }

  #job-description {
    flex-direction: column;
  }
  
  .social {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  .social-btn-style {
    margin: 20px auto;
    width: 100%;
  }

  .share-manual {
    margin: 20px auto;
    width: 100%;
  }
}

@media (max-width: 785px) {
  .navbar {
    display: none;
    min-width: 75%;
    flex: 2;
  }

  #details {
    padding: 50px 20px;
  }

  #graph-list {
    padding-left: 20px;
  }

  main {
    position: absolute;
    flex:1;
    z-index: -1;
  }
}

@media (max-width: 545px) {
  .circle-graphs {
    flex-direction: column;
  }

  .circ-text {
    margin: 20px 0;
    width:250px;
    height: 250px;
    border-width: 20px;
  }

  .total-target {
    width: 100%;
  }
}